{:catchpocket/enums
 {:movement_type_kw
  #:catchpocket.enum {:attributes  #{:animal-keyword/movement}
                      :description "Type of movement"
                      :scan?       true
                      :values      [{:enum-value              :WHEELS
                                     :stillsuit/datomic-value :movement/wheels
                                     :description             "Vroom vroom"}]}
  :movement_type_ref
  #:catchpocket.enum {:attributes  #{:animal-ref/movement}
                      :description "Type of movement"
                      :scan?       true}}}
