[[;; These entities use datomic-style lookup enums
  {:db/ident       :animal-ref/id
   :db/valueType   :db.type/string
   :db/cardinality :db.cardinality/one
   :db/unique      :db.unique/identity}
  {:db/ident       :animal-ref/movement
   :db/valueType   :db.type/ref
   :db/cardinality :db.cardinality/one}
  ;; Enum values for the above
  {:db/ident :movement/quadroped}
  {:db/ident :movement/biped}
  {:db/ident :movement/brachiator}]

 [;; These entities use keyword enums
  {:db/ident       :animal-keyword/id
   :db/valueType   :db.type/string
   :db/cardinality :db.cardinality/one
   :db/unique      :db.unique/identity}
  {:db/ident       :animal-keyword/movement
   :db/valueType   :db.type/keyword
   :db/cardinality :db.cardinality/one}]

 ;; Ref data
 [{:animal-ref/id       "horse"
   :animal-ref/movement :movement/quadroped}
  {:animal-ref/id       "human"
   :animal-ref/movement :movement/biped}
  {:animal-ref/id       "monkey"
   :animal-ref/movement :movement/brachiator}]

 ;; Keyword data
 [{:animal-keyword/id       "horse"
   :animal-keyword/movement :movement/quadroped}
  {:animal-keyword/id       "human"
   :animal-keyword/movement :movement/biped}
  {:animal-keyword/id       "monkey"
   :animal-keyword/movement :movement/brachiator}]]
