;; Basic EDN configuration file
{:interfaces
 ;; TODO: these should be dynamic via stillsuit config
 {:DatomicEntity
  {:fields {:dbId {:type        ID
                   :description "Base type for datomic entities"}}}}
 :objects
 {}

 :queries
 {}

 :mutations
 {}}
